[submodule "api"]
	path = api
	url = git@github.com:SnO2WMaN-personal-bookshelf/api.git
[submodule "docker/mongo/sample"]
	path = docker/mongo/sample
	url = git@github.com:SnO2WMaN-personal-bookshelf/sample-data.git
[submodule "compensator"]
	path = compensator
	url = git@github.com:SnO2WMaN-personal-bookshelf/compensator.git
[submodule "bookcover-server"]
	path = bookcover-server
	url = git@github.com:SnO2WMaN-personal-bookshelf/bookcover-server.git
